body {
  color: black;
}

.price-card {
  border: 3px solid black;
  width: 30rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: auto;
  margin-top: 7.5%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.price-card p {
  font-size: 1.5rem;
  text-align: center;
}

.forms {
  border: 2.5px solid black;
  width: 20rem;
  margin: auto;
  margin-top: 0.5%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.form-submit-btn {
  margin-top: 0.5rem;
  margin-left: auto;
}

.form-input {
  margin-left: 1rem;
}

.portfolio-view li {
  list-style-type: none;
  text-align: center;
}

.portfolio-view {
  border: 3px solid black;
  width: 40rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: auto;
}

.portfolio-view h2 {
  text-align: center;
}